
body {
  background-color: transparent;
  font-family: 'Time new roman', serif;
  font-size: 11px;
  color: #000;
}
table.data thead {
  background: transparent;
}
table.data th,
table.data td {
  border-color: #000;
}
table.data .action {
  display: none;
}
#content-header {
  border-bottom: 0
}
#page-title {
  text-align: center;
}
